@import
	url("http://fonts.googleapis.com/css?family=Poppins:400,500,700");

welcome, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

body {
	background-image:
		url("https://cdn.create.vista.com/api/media/medium/461179238/stock-photo-abstract-geometric-background-poly-pattern?token=");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	opacity: .8;
}

.navbar {
	padding: .8rem;
}

.navbar-nav li {
	padding-right: 20px;
}

.nav-link {
	font-size: 1.1em !important;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.padding {
	padding-bottom: 2rem;
}

.welcome {
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

.welcome hr {
	border-top: 2px solid #b4b4b4;
	width: 95%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.gg-add-r {
	color: #e54d26;
}

.gg-chevron-up-r {
	color: #e54d26;
}

.gg-erase {
	color: #e54d26;
}

footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}

hr.light {
	border-top: 1px solid #d5d5d5;

	margin-top: .8rem;
	margin-bottom: 1rem;
	
}

createForm, .input-group {
	padding-top: 1%;
}

createForm, .submit {
	margin-left: 45%;
	padding-right: 3%;
	
}


